/out
/.vs
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/CTestTestfile.cmake
build/Makefile
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-755080ef394d46de9ad8.json
build/.cmake/api/v1/reply/codemodel-v2-b67e9c4082911cac8190.json
build/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/directory-lib-Debug-d468c4066fb0386aaae4.json
build/.cmake/api/v1/reply/directory-samples.document-Debug-d5c0924a809a44eade3b.json
build/.cmake/api/v1/reply/directory-test-Debug-451c0598f41488bb20b9.json
build/.cmake/api/v1/reply/directory-test.googletest-build-Debug-374729de6f7fd8af66a5.json
build/.cmake/api/v1/reply/directory-test.googletest-build.googlemock-Debug-639e7ceafb24f92ae4ca.json
build/.cmake/api/v1/reply/directory-test.googletest-build.googletest-Debug-bcd8ed5ca3d69bbc39b5.json
build/.cmake/api/v1/reply/index-2021-11-07T01-03-40-0933.json
build/.cmake/api/v1/reply/target-document_sample-Debug-d90e92a5332784893b9b.json
build/.cmake/api/v1/reply/target-erocklib-Debug-ab4d80cb9de672824b85.json
build/.cmake/api/v1/reply/target-erocktest-Debug-b24c867a31d7a3107914.json
build/.cmake/api/v1/reply/target-gmock_main-Debug-bd82b1486a8da31ee402.json
build/.cmake/api/v1/reply/target-gmock-Debug-d89549fc970910dd0ad7.json
build/.cmake/api/v1/reply/target-gtest_main-Debug-fa775aadc82ff602c9b8.json
build/.cmake/api/v1/reply/target-gtest-Debug-1adf5d176fd2316bd5ed.json
build/.cmake/api/v1/reply/target-hope-Debug-d4ee65bc3d8fc52949fa.json
build/.cmake/api/v1/reply/target-rapidjson-Debug-28788ac9b84bbf5b2420.json
build/.cmake/api/v1/reply/toolchains-v1-87dc393b9be757c1e320.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/CMakeRuleHashes.txt
build/CMakeFiles/hope-complete
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/rapidjson-complete
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.21.2/CMakeCCompiler.cmake
build/CMakeFiles/3.21.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.21.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.21.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.21.2/CMakeSystem.cmake
build/CMakeFiles/3.21.2/CompilerIdC/a.out
build/CMakeFiles/3.21.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.21.2/CompilerIdCXX/a.out
build/CMakeFiles/3.21.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/hope.dir/build.make
build/CMakeFiles/hope.dir/cmake_clean.cmake
build/CMakeFiles/hope.dir/compiler_depend.make
build/CMakeFiles/hope.dir/compiler_depend.ts
build/CMakeFiles/hope.dir/DependInfo.cmake
build/CMakeFiles/hope.dir/Labels.json
build/CMakeFiles/hope.dir/Labels.txt
build/CMakeFiles/hope.dir/progress.make
build/CMakeFiles/rapidjson.dir/build.make
build/CMakeFiles/rapidjson.dir/cmake_clean.cmake
build/CMakeFiles/rapidjson.dir/compiler_depend.make
build/CMakeFiles/rapidjson.dir/compiler_depend.ts
build/CMakeFiles/rapidjson.dir/DependInfo.cmake
build/CMakeFiles/rapidjson.dir/Labels.json
build/CMakeFiles/rapidjson.dir/Labels.txt
build/CMakeFiles/rapidjson.dir/progress.make
build/Testing/Temporary/LastTest.log
build/bin/document_sample
build/bin/erocktest
build/ext/src/hope-stamp/hope-build
build/ext/src/hope-stamp/hope-configure
build/ext/src/hope-stamp/hope-done
build/ext/src/hope-stamp/hope-download
build/ext/src/hope-stamp/hope-gitclone-lastrun.txt
build/ext/src/hope-stamp/hope-gitinfo.txt
build/ext/src/hope-stamp/hope-install
build/ext/src/hope-stamp/hope-mkdir
build/ext/src/hope-stamp/hope-patch
build/ext/src/hope-stamp/hope-update
build/ext/tmp/hope-cfgcmd.txt
build/ext/tmp/hope-cfgcmd.txt.in
build/ext/tmp/hope-gitclone.cmake
build/lib/cmake_install.cmake
build/lib/CTestTestfile.cmake
build/lib/libgtest_maind.a
build/lib/libgtestd.a
build/lib/Makefile
build/lib/CMakeFiles/CMakeDirectoryInformation.cmake
build/lib/CMakeFiles/progress.marks
build/lib/CMakeFiles/erocklib.dir/build.make
build/lib/CMakeFiles/erocklib.dir/cmake_clean.cmake
build/lib/CMakeFiles/erocklib.dir/compiler_depend.make
build/lib/CMakeFiles/erocklib.dir/compiler_depend.ts
build/lib/CMakeFiles/erocklib.dir/DependInfo.cmake
build/lib/CMakeFiles/erocklib.dir/progress.make
build/samples/document/cmake_install.cmake
build/samples/document/CTestTestfile.cmake
build/samples/document/Makefile
build/samples/document/CMakeFiles/CMakeDirectoryInformation.cmake
build/samples/document/CMakeFiles/progress.marks
build/samples/document/CMakeFiles/document_sample.dir/build.make
build/samples/document/CMakeFiles/document_sample.dir/cmake_clean.cmake
build/samples/document/CMakeFiles/document_sample.dir/compiler_depend.internal
build/samples/document/CMakeFiles/document_sample.dir/compiler_depend.make
build/samples/document/CMakeFiles/document_sample.dir/compiler_depend.ts
build/samples/document/CMakeFiles/document_sample.dir/depend.make
build/samples/document/CMakeFiles/document_sample.dir/DependInfo.cmake
build/samples/document/CMakeFiles/document_sample.dir/flags.make
build/samples/document/CMakeFiles/document_sample.dir/link.txt
build/samples/document/CMakeFiles/document_sample.dir/object.cpp.o
build/samples/document/CMakeFiles/document_sample.dir/object.cpp.o.d
build/samples/document/CMakeFiles/document_sample.dir/progress.make
build/test/cmake_install.cmake
build/test/CTestTestfile.cmake
build/test/Makefile
build/test/CMakeFiles/CMakeDirectoryInformation.cmake
build/test/CMakeFiles/progress.marks
build/test/CMakeFiles/erocktest.dir/build.make
build/test/CMakeFiles/erocktest.dir/cmake_clean.cmake
build/test/CMakeFiles/erocktest.dir/compiler_depend.internal
build/test/CMakeFiles/erocktest.dir/compiler_depend.make
build/test/CMakeFiles/erocktest.dir/compiler_depend.ts
build/test/CMakeFiles/erocktest.dir/depend.make
build/test/CMakeFiles/erocktest.dir/DependInfo.cmake
build/test/CMakeFiles/erocktest.dir/flags.make
build/test/CMakeFiles/erocktest.dir/link.txt
build/test/CMakeFiles/erocktest.dir/object.cpp.o
build/test/CMakeFiles/erocktest.dir/object.cpp.o.d
build/test/CMakeFiles/erocktest.dir/progress.make
build/test/CMakeFiles/erocktest.dir/Tests.cpp.o
build/test/CMakeFiles/erocktest.dir/Tests.cpp.o.d
build/test/googletest-build/cmake_install.cmake
build/test/googletest-build/CTestTestfile.cmake
build/test/googletest-build/Makefile
build/test/googletest-build/CMakeFiles/CMakeDirectoryInformation.cmake
build/test/googletest-build/CMakeFiles/progress.marks
build/test/googletest-build/googlemock/cmake_install.cmake
build/test/googletest-build/googlemock/CTestTestfile.cmake
build/test/googletest-build/googlemock/Makefile
build/test/googletest-build/googlemock/CMakeFiles/CMakeDirectoryInformation.cmake
build/test/googletest-build/googlemock/CMakeFiles/progress.marks
build/test/googletest-build/googlemock/CMakeFiles/gmock.dir/build.make
build/test/googletest-build/googlemock/CMakeFiles/gmock.dir/cmake_clean_target.cmake
build/test/googletest-build/googlemock/CMakeFiles/gmock.dir/cmake_clean.cmake
build/test/googletest-build/googlemock/CMakeFiles/gmock.dir/compiler_depend.make
build/test/googletest-build/googlemock/CMakeFiles/gmock.dir/compiler_depend.ts
build/test/googletest-build/googlemock/CMakeFiles/gmock.dir/depend.make
build/test/googletest-build/googlemock/CMakeFiles/gmock.dir/DependInfo.cmake
build/test/googletest-build/googlemock/CMakeFiles/gmock.dir/flags.make
build/test/googletest-build/googlemock/CMakeFiles/gmock.dir/link.txt
build/test/googletest-build/googlemock/CMakeFiles/gmock.dir/progress.make
build/test/googletest-build/googlemock/CMakeFiles/gmock_main.dir/build.make
build/test/googletest-build/googlemock/CMakeFiles/gmock_main.dir/cmake_clean_target.cmake
build/test/googletest-build/googlemock/CMakeFiles/gmock_main.dir/cmake_clean.cmake
build/test/googletest-build/googlemock/CMakeFiles/gmock_main.dir/compiler_depend.make
build/test/googletest-build/googlemock/CMakeFiles/gmock_main.dir/compiler_depend.ts
build/test/googletest-build/googlemock/CMakeFiles/gmock_main.dir/depend.make
build/test/googletest-build/googlemock/CMakeFiles/gmock_main.dir/DependInfo.cmake
build/test/googletest-build/googlemock/CMakeFiles/gmock_main.dir/flags.make
build/test/googletest-build/googlemock/CMakeFiles/gmock_main.dir/link.txt
build/test/googletest-build/googlemock/CMakeFiles/gmock_main.dir/progress.make
build/test/googletest-build/googletest/cmake_install.cmake
build/test/googletest-build/googletest/CTestTestfile.cmake
build/test/googletest-build/googletest/Makefile
build/test/googletest-build/googletest/CMakeFiles/CMakeDirectoryInformation.cmake
build/test/googletest-build/googletest/CMakeFiles/progress.marks
build/test/googletest-build/googletest/CMakeFiles/Export/lib/cmake/GTest/GTestTargets-debug.cmake
build/test/googletest-build/googletest/CMakeFiles/Export/lib/cmake/GTest/GTestTargets.cmake
build/test/googletest-build/googletest/CMakeFiles/gtest.dir/build.make
build/test/googletest-build/googletest/CMakeFiles/gtest.dir/cmake_clean_target.cmake
build/test/googletest-build/googletest/CMakeFiles/gtest.dir/cmake_clean.cmake
build/test/googletest-build/googletest/CMakeFiles/gtest.dir/compiler_depend.internal
build/test/googletest-build/googletest/CMakeFiles/gtest.dir/compiler_depend.make
build/test/googletest-build/googletest/CMakeFiles/gtest.dir/compiler_depend.ts
build/test/googletest-build/googletest/CMakeFiles/gtest.dir/depend.make
build/test/googletest-build/googletest/CMakeFiles/gtest.dir/DependInfo.cmake
build/test/googletest-build/googletest/CMakeFiles/gtest.dir/flags.make
build/test/googletest-build/googletest/CMakeFiles/gtest.dir/link.txt
build/test/googletest-build/googletest/CMakeFiles/gtest.dir/progress.make
build/test/googletest-build/googletest/CMakeFiles/gtest.dir/src/gtest-all.cc.o
build/test/googletest-build/googletest/CMakeFiles/gtest.dir/src/gtest-all.cc.o.d
build/test/googletest-build/googletest/CMakeFiles/gtest_main.dir/build.make
build/test/googletest-build/googletest/CMakeFiles/gtest_main.dir/cmake_clean_target.cmake
build/test/googletest-build/googletest/CMakeFiles/gtest_main.dir/cmake_clean.cmake
build/test/googletest-build/googletest/CMakeFiles/gtest_main.dir/compiler_depend.internal
build/test/googletest-build/googletest/CMakeFiles/gtest_main.dir/compiler_depend.make
build/test/googletest-build/googletest/CMakeFiles/gtest_main.dir/compiler_depend.ts
build/test/googletest-build/googletest/CMakeFiles/gtest_main.dir/depend.make
build/test/googletest-build/googletest/CMakeFiles/gtest_main.dir/DependInfo.cmake
build/test/googletest-build/googletest/CMakeFiles/gtest_main.dir/flags.make
build/test/googletest-build/googletest/CMakeFiles/gtest_main.dir/link.txt
build/test/googletest-build/googletest/CMakeFiles/gtest_main.dir/progress.make
build/test/googletest-build/googletest/CMakeFiles/gtest_main.dir/src/gtest_main.cc.o
build/test/googletest-build/googletest/CMakeFiles/gtest_main.dir/src/gtest_main.cc.o.d
build/test/googletest-build/googletest/generated/gmock_main.pc
build/test/googletest-build/googletest/generated/gmock.pc
build/test/googletest-build/googletest/generated/gtest_main.pc
build/test/googletest-build/googletest/generated/gtest.pc
build/test/googletest-build/googletest/generated/GTestConfig.cmake
build/test/googletest-build/googletest/generated/GTestConfigVersion.cmake
build/test/googletest-download/cmake_install.cmake
build/test/googletest-download/CMakeCache.txt
build/test/googletest-download/CMakeLists.txt
build/test/googletest-download/Makefile
build/test/googletest-download/CMakeFiles/cmake.check_cache
build/test/googletest-download/CMakeFiles/CMakeDirectoryInformation.cmake
build/test/googletest-download/CMakeFiles/CMakeOutput.log
build/test/googletest-download/CMakeFiles/CMakeRuleHashes.txt
build/test/googletest-download/CMakeFiles/googletest-complete
build/test/googletest-download/CMakeFiles/Makefile.cmake
build/test/googletest-download/CMakeFiles/Makefile2
build/test/googletest-download/CMakeFiles/progress.marks
build/test/googletest-download/CMakeFiles/TargetDirectories.txt
build/test/googletest-download/CMakeFiles/3.21.2/CMakeSystem.cmake
build/test/googletest-download/CMakeFiles/googletest.dir/build.make
build/test/googletest-download/CMakeFiles/googletest.dir/cmake_clean.cmake
build/test/googletest-download/CMakeFiles/googletest.dir/compiler_depend.make
build/test/googletest-download/CMakeFiles/googletest.dir/compiler_depend.ts
build/test/googletest-download/CMakeFiles/googletest.dir/DependInfo.cmake
build/test/googletest-download/CMakeFiles/googletest.dir/Labels.json
build/test/googletest-download/CMakeFiles/googletest.dir/Labels.txt
build/test/googletest-download/CMakeFiles/googletest.dir/progress.make
build/test/googletest-download/googletest-prefix/src/googletest-stamp/googletest-build
build/test/googletest-download/googletest-prefix/src/googletest-stamp/googletest-configure
build/test/googletest-download/googletest-prefix/src/googletest-stamp/googletest-done
build/test/googletest-download/googletest-prefix/src/googletest-stamp/googletest-download
build/test/googletest-download/googletest-prefix/src/googletest-stamp/googletest-gitclone-lastrun.txt
build/test/googletest-download/googletest-prefix/src/googletest-stamp/googletest-gitinfo.txt
build/test/googletest-download/googletest-prefix/src/googletest-stamp/googletest-install
build/test/googletest-download/googletest-prefix/src/googletest-stamp/googletest-mkdir
build/test/googletest-download/googletest-prefix/src/googletest-stamp/googletest-patch
build/test/googletest-download/googletest-prefix/src/googletest-stamp/googletest-test
build/test/googletest-download/googletest-prefix/tmp/googletest-cfgcmd.txt
build/test/googletest-download/googletest-prefix/tmp/googletest-cfgcmd.txt.in
build/test/googletest-download/googletest-prefix/tmp/googletest-gitclone.cmake
build/test/googletest-download/googletest-prefix/tmp/googletest-gitupdate.cmake
build/vendor/rapidjson/src/rapidjson-stamp/rapidjson-build
build/vendor/rapidjson/src/rapidjson-stamp/rapidjson-configure
build/vendor/rapidjson/src/rapidjson-stamp/rapidjson-done
build/vendor/rapidjson/src/rapidjson-stamp/rapidjson-download
build/vendor/rapidjson/src/rapidjson-stamp/rapidjson-gitclone-lastrun.txt
build/vendor/rapidjson/src/rapidjson-stamp/rapidjson-gitinfo.txt
build/vendor/rapidjson/src/rapidjson-stamp/rapidjson-install
build/vendor/rapidjson/src/rapidjson-stamp/rapidjson-mkdir
build/vendor/rapidjson/src/rapidjson-stamp/rapidjson-patch
build/vendor/rapidjson/src/rapidjson-stamp/rapidjson-update
build/vendor/rapidjson/tmp/rapidjson-cfgcmd.txt
build/vendor/rapidjson/tmp/rapidjson-cfgcmd.txt.in
build/vendor/rapidjson/tmp/rapidjson-gitclone.cmake
.gitignore
.gitignore
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
ext/.DS_Store
lib/erock/strict/.DS_Store
.gitignore
.DS_Store
.gitignore
.gitignore
